# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Bin i Obj
bin/
obj/

# Pliki tymczasowe i logi
*.log
*.tmp
*.userosscache
*.suo
*.cache
*.pdb
*.mdb

# Reszta specyficzna dla projektu .NET (opcjonalnie)
*.ide
*.dotCover
